apiVersion: apps/v1
kind: Deployment
metadata:
  name: ci-cd
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ci-cd
  template:
    metadata:
      labels:
        app: ci-cd
    spec:
      containers:
      - name: ci-cd
        image: nginx
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: cicd-service
spec:
  selector:
    app: ci-cd
  ports:
  - port: 80
    targetPort: 80
